.Preview {
  margin-top: 50px;
}
.Preview .review {
  background: #ffffff;
}
.Preview img {
  width: 350px;
  height: 395px;
}

.Preview .checked {
  color: #f09c32 !important;
}
.Preview .fa {
  color: #d3cec8;
}
.Preview p.desc {
  font-size: 14px;
}

.Preview .review h4 {
  color: #454545;
  font-weight: 600;
  margin-bottom: 0;
}
.Preview .review p.cat {
  margin-bottom: 2px;
  color: #454545;
}
.Preview .review p.desc {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #b9b9b9;
  font-weight: 600;
}
.Preview .review h2 {
  margin-top: 50px;
  color: #454545;
  font-weight: 400;
}
.Preview .edit .card {
  border: none;
  border-radius: 0;
  background: #f2f2f2;
  border-top: solid 1px #454545;
}
.Preview .top h6 {
  color: #454545;
  margin-top: 10px;
  font-size: 14px;
}
.Preview .edit .title p {
  border-bottom: solid 1px #454545;
}
/* .wrapper { position: relative; }
    .fakeuploadbutton { 
        background: red url('../icons/wish.png') no-repeat top left;
        width: 100px; height: 30px;
    } */
.wrapper {
  position: relative;
  border: solid #fef441;
  margin-left: 10px;
  height: 200px;
  width: 200px;
}
#file {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  opacity: 0;
}
.fakeuploadbutton {
  margin-top: 60px;
}
.Preview .update .form-group {
  margin-right: 30px;
  margin-bottom:0;
}
.Preview .update .form-group.up-name .form-control {
  border: solid #fef441;
  margin-bottom: 5px;
}
.Preview .update .form-group.addOn {
    margin-bottom: 5px;
}
.fr-toolbar .fr-command.fr-btn svg.fr-svg,
.fr-popup .fr-command.fr-btn svg.fr-svg,
.fr-modal .fr-command.fr-btn svg.fr-svg {
  height: 20px !important;
}
.fr-toolbar .fr-command.fr-btn i,
.fr-toolbar .fr-command.fr-btn svg,
.fr-popup .fr-command.fr-btn i,
.fr-popup .fr-command.fr-btn svg,
.fr-modal .fr-command.fr-btn i,
.fr-modal .fr-command.fr-btn svg {
  display: block !important;
  /* text-align: center !important; */
  float: none !important;
  margin: 5px 3px !important;
  width: 20px !important;
}
.fr-toolbar {
  color: red!important;
    height:40px;
  border-radius: 0!important;
  -moz-border-radius: 0!important;
  -webkit-border-radius: 0!important;
  border:none!important;
  border-radius: none !important;
  background: #E4E4E4!important;

}

.second-toolbar {
    visibility: hidden;
}
.fr-box.fr-basic {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-right: 30px;
}

.fr-box.fr-basic .fr-wrapper {
    background: #FFF;
    border:  solid #fef441!important;
    border-bottom-color: #fef441!important;
    top: 0;
    left: 0;
}

.row{
    margin-right:0!important;
    margin-left:0!important;
}
.Preview .buttons .but-bord {
    border: solid 1px rgba(0, 40, 100, 0.12) ;
    font-size: 12px;
}
.Preview .buttons .but-bor {
    border: solid 1px rgba(0, 40, 100, 0.12) ;
    border-left: none!important;
    font-size: 12px;
}
.Preview .buttons .update :hover{
    background: #E8ECEF;
}

/* exrtra small screens */
@media screen and (max-width: 576px) {
    .wrapper {
        margin-bottom: 10px;
        margin-left: 50px;
      }
      .Preview img {
        width: 100%;
        overflow: hidden;
      }
  }
  /* Small screens */
@media screen and (min-device-width: 576px) and (max-device-width:767px) {
    .Preview img {
        width: 100%;
        overflow: hidden;
      }
      #file {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 150px!important;
        height: 200px;
      
      }
      .wrapper {
        position: relative;
        border: solid #fef441;
        margin-left: 10px;
        height: 200px;
        width: 150px;
      }

  }
  /* large screens */
@media screen and (min-device-width: 992px) and (max-device-width:1199px) {
    .Preview img {
        width: 100%;
        overflow: hidden;
      }
  }